a {
    color: black;
    text-decoration: none;
    text-size-adjust: none;
}

h1{
    font-family: 'Syne';
    font-size: 87.5px;
    color:#79B473;
    margin: 0;
    text-size-adjust: none;
}
.content {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    flex: 50%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
  }

.name {
    padding-bottom: 6rem;
    margin: 0;
}

body {
    padding: 2rem;
    margin: 0;
    
}

.menu {
    height: 100%;
    position: fixed;
}

h3{
    font-family: 'Syne';
    text-align: left;
    font-size: 20px;
    text-size-adjust: none;
}

h4{
    font-family: 'Syne';
    font-size: 25px;
    margin:0;
    padding:0.5rem;
    text-size-adjust: none;
}

p{
    font-family: 'Syne';
}

.footer{
    font-family: 'Syne';
    position: fixed;     
    bottom: 3rem; 
    width: 100%;
    font-size: 20px;
    text-size-adjust: none;
}

.links{
    font-family: 'Syne';
    color: hsl(300, 100%, 25%);
    font-style: italic;
    font-weight: bold;
    margin:0;
    padding:0;
    font-size: 22.5px;
    text-size-adjust: none;
}

.links:hover{
    color:grey;
}

.content{
    float: right;
}
  
.left {
    vertical-align: middle;
    float: left;
}
.right {
    vertical-align: middle;
    float: right;
}
.content .works {
    display: block;
    padding-left: 1rem;
    border: 0px;
}
.websitecreation {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 0px;
}
.about {
    position: fixed;
    right: 35rem;
    top: 15rem;
}


/*@media only screen and (max-width: 1830px) {
    .menu{
        float: none;
        padding-bottom: 3rem;
    }
    .cs .content .right{
        float: left;
    }
   
}

@media only screen and (max-width: 1690px) {
    .single img{
        height: 60%;
        width: 60%;
        float: right;
    }
    .cs .menu{
        position: relative;
    }
    .art{
        position: relative;
    }
    .cs .content .left {
        padding-top: 0;
    }
    .art .menu {
        position: relative;
    }
    .art .footer {
        position: relative;   
        float: left;
        padding-top: 6rem;
    }
    .cs .left {
        float: left;
    }
    .cs .footer{
        position: relative;   
        float: left;
        padding-top: 6rem;
    }
}
@media only screen and (max-width: 1326px) {
    .cs .left {
        float: left;
    }
    .cs .footer{
        position: relative;   
        float: left;
        padding-top: 6rem;
    }

}
@media only screen and (max-width: 1314px) {
    .art .content iframe{
        height: 300px;
        width: 60%;
    }
    .art .content .left{
        float:right;
        position: relative;
    }

    .art .content .right{
        float: right;
        position: relative;
        padding-right: 1rem;
    }

    .art .content iframe {
        float: right;
    }

    .art .content{
        float: right;
        position: relative;
    }
    .art img{
        height: 60%;
        width: 60%;
        float: right;
    }
}