.nav-link {
  color: #111; /* black for light mode */
  position: relative;
  text-decoration: none !important;
  transition: color 0.3s ease, transform 0.3s ease;
  display: inline-block;
  white-space: nowrap;
}

.nav-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 1px;
  bottom: -3px;
  left: 0;
  background-color: #111; /* underline black in light mode */
  transition: width 0.3s ease-in-out;
}

.nav-link:hover {
  color: #555; /* dark gray on hover */
  transform: translateY(-2px);
}

.nav-link:hover::after {
  width: 100%;
}

/* NIGHT MODE: white on black */
.night-mode .nav-link {
  color: #fff;
}

.night-mode .nav-link:hover {
  color: #ccc; /* light gray on hover */
}

.night-mode .nav-link::after {
  background-color: #fff;
}

.night-mode .SocialLinks a svg {
  fill: #A8FFB0;
}

.night-mode .SocialLinks a:hover svg {
  fill: #C2FFD3;
}

.SocialLinks a svg {
  position: relative;
  fill: #14532d; /* dark green for light mode */
  transition: fill 0.3s ease, transform 0.3s ease;
}

.SocialLinks a:hover svg {
  fill: #228B22; /* lighter green on hover */
  transform: translateY(-3px);
}